
<div style="position: fixed;width: 100%;top:0;z-index: 999">
  <app-navbar></app-navbar>
</div>



<!-- Top purple part -->
<div style="height: auto;background: #2e0e5a;width: 100%;">
  <div class="row" style="max-width: 1800px;margin: auto">
    <div class="container">
      <img src="../../assets/team/big_U.png" class="big_U_img" alt="Snow">
      <div class="centered">

        <h1 class="big_wording_title">
          A TEAM BUILT TO CREATE REAL VALUE
        </h1>

        <h2 class="top_part_content">
          webUmate is made up of an agile team of web designers and web developers with the technical
          expertise, creativity, and vision to create beautiful, smart website designs.
        </h2>
      </div>
    </div>
  </div>

</div>



<app-footer></app-footer>
