.container {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(-20%, -20%);
}

.big_wording_title{
  font-size: 5rem;
}
.top_part_content{
  font-size: 2rem;
  margin-top: 20px;
  font-weight: 200;
}
.big_U_img{
  width:70%;
}
@media screen and (max-width: 1200px){
  .big_wording_title{
    font-size: 4rem;
  }
  .top_part_content{
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1000px){
  .big_wording_title{
    font-size: 3rem;
  }
}
@media screen and (max-width: 800px){
  .big_U_img{
    width:90%;
  }
}
@media screen and (max-width: 768px){
  .big_U_img{
    width:100%;
  }
  .big_wording_title{
    font-size: 2.5rem;
  }
  .top_part_content{
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 500px){
  .big_wording_title{
    font-size: 2rem;
  }
  .top_part_content{
    font-size: 1rem;
  }
}
@media screen and (max-width: 436px){
  .big_wording_title{
    font-size: 1.5rem;
  }
  .top_part_content{
    font-size: 0.8rem;
  }
}
