
<div style="position: fixed;width: 100%;top:0;z-index: 999">
  <app-navbar></app-navbar>
</div>


<!-- Top purple part -->
<div style="height: auto;background: #2e0e5a;width: 100%;">
  <div class="row" style="max-width: 1800px;margin: auto">
    <div class="top_left_our_services" >
      <h1 class="section_header_purple">
        OUR SERVICES
      </h1>

      <h2 class="top_left_sub_title" style="max-width: 700px">
        webUmate offers everything from web design, corporate identity, digital marketing, mobile, and brand positioning
      </h2>

  </div>
    <img src="../../assets/service/tools.png" class="homebannerimg desk_tab_girl_img">
  </div>
  <img src="../../assets/service/tools.png" class="homebannerimg mobile_girl_img">
</div>

<div id="triangle_purple"></div>
