<!-- Desktop navbar view -->
<div style="width: 100%;">
<div style="width: 1500px; margin: auto;height: 200px">
  <div class="row" style="margin: 0">
    <div style="width: 40%;height: 100px">
      <img src="../../assets/navbar/logo-white.png" style="width: 40%;margin-top: 40px">
    </div>
    <div style="width: 60%;height: 100px">
      <div class="row" style="margin: 0;float: right">
        <button class="btn navbar_btns">
          Home
        </button>
        <div class="spaces_between_navbar_btns"></div>
        <button class="btn navbar_btns">
          Services
        </button>
        <div class="spaces_between_navbar_btns"></div>
        <button class="btn navbar_btns">
          Team
        </button>
        <div class="spaces_between_navbar_btns"></div>
        <button class="btn navbar_btns">
          Contact
        </button>
        <div class="spaces_between_navbar_btns"></div>
        <button class="btn navbar_btns">
          <img src="../../assets/navbar/phone-white.png" style="width: 35px;margin-top: -20px">
          0436 756 657
        </button>
        <div class="spaces_between_navbar_btns"></div>
      </div>
    </div>

  </div>
</div>
</div>

<!-- Mobile navbar view -->
<div class="menu-container">

  <input type="checkbox" id="openmenu" class="hamburger-checkbox">

  <div class="hamburger-icon">
    <label for="openmenu" id="hamburger-label">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="menu-pane">

    <nav>
      <ul class="menu-links">
        <li><a href="###">Québec, QC</a><span id="QC-info">
            <p>+1 418-640-3300</p>
          </span>

        </li>

        <li><a href="###">déjeuner</a>

        </li>
        <li><a href="###">boulangerie</a></li>
        <li><a href="###">boissons</a></li>
      </ul>
      <ul class="menu-links">
        <li><a href="###">Washington, DC</a>
          <span id="DC-info">
            <p>+1 202-472-3850</p>
          </span></li>

        <li><a href="###">breakfast</a></li>
        <li><a href="###">
          bakery
        </a></li>
        <li><a href="###">bar</a></li>
      </ul>

    </nav>
  </div>
</div>
