<!-- Desktop navbar view -->
<div style="width: 100%;" class="desktop_navbar">
<div style="max-width: 1500px; margin: auto;height: 200px">
  <div class="row" style="margin: 0">
    <div class="outer_div_for_logo">
      <img src="../../assets/navbar/logo-white.png" class="webUmate_logo">
    </div>
    <div class="webUmate_menus">
      <div class="row webUmate_menus_row">
        <button class="btn navbar_btns">
          Home
        </button>
        <div class="spaces_between_navbar_btns"></div>
        <button class="btn navbar_btns">
          Services
        </button>
        <div class="spaces_between_navbar_btns"></div>
        <button class="btn navbar_btns">
          Team
        </button>
        <div class="spaces_between_navbar_btns"></div>
        <button class="btn navbar_btns">
          Contact
        </button>
        <div class="spaces_between_navbar_btns"></div>
        <button class="btn navbar_btns">
          <img src="../../assets/navbar/phone-white.png" style="width: 35px;margin-top: -20px">
          0436 756 657
        </button>
        <div class="spaces_between_navbar_btns"></div>
      </div>
    </div>

  </div>
</div>
</div>

<!-- Mobile navbar view -->
<div class="menu-container mobile_navbar" style="width: 100vw;position:absolute;">

  <input type="checkbox" id="openmenu" class="hamburger-checkbox" style="width: 100vw">

  <div class="hamburger-icon">
    <label for="openmenu" id="hamburger-label">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  <div>
    <img class="mobile_img_logo" src="../../assets/navbar/logo-white.png">
  </div>

  <div class="menu-pane" style="width: 60vw;height: 100vh;background: #2e0e5a">

    <nav style="background: #2e0e5a">
      <ul class="menu-links">
        <li><a href="###">Home</a></li>
        <li><a href="###">Services</a></li>
        <li><a href="###">Team</a></li>
        <li><a href="###">Contact</a></li>
      </ul>
    </nav>
  </div>
</div>
